<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <title>Society Monitoring System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="../static/images/logo.png"></a>
            <div class="head">
                <h1>SOCIETY MONITORING SYSTEM</h1>
                <p>This is the smartest way of analysing,dectecting and tracing of covid patients by keeping an watch on
                    the people entering and exiting the society and also checking the vaccination status </p>   
            </div>
        </nav>
        <div class="main-frame">
            <!-- <ul> -->
                <li><p class="atr">NAME:&nbsp&nbsp</p><p class="data">{{name}}</p></li>
                <li><p class="atr">DATE:&nbsp&nbsp</p><p class="data">{{Date}}</p></li>
                <li><p class="atr">TIME:&nbsp&nbsp</p><p class="data">{{Time}}</p></li>
                <li><p class="atr">STATUS:&nbsp&nbsp</p><p class="data">{{Sts}}</p></li>
            <!-- </ul> -->
        </div>
       	<p class="sts">{{indentificationSts}}</p>
    </section>
    </body>

</html>